<div style="text-align: center;">
    <h2>Vista Usuario</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>email</th>    
          <th>registro</th>
          <th>direccion</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection.data | paginate: config">
          <td>{{item.id}}</td>
          <td>{{item.email}}</td>
          <td>{{item.registro}}</td>
          <td>{{item.direccion}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="openEditar(content,item)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
          </td>
        </tr>
        
  
       
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Usuario create/update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <form [formGroup]="UsuarioForm">
              <div class="form-group">
                <label>Id</label>
                <input type="number" formControlName="id" class="form-control">
              </div>
              <div class="form-group">
                <label>email</label>
                <input type="text" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label>direccion</label>
                <input type="text" formControlName="dir" class="form-control">
              </div>
              <div class="form-group">
                <label>role</label>
                <input type="text" formControlName="role" class="form-control">
              </div>
              
              
              
            
            
              
            
              
            </form>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizarUsuario()" *ngIf="actualizar">Actualizar</button>
      </div>
    </ng-template>
  </div>

