<div class=contariner style="text-align: center;">
 <div class="col-s8"></div>
  <div class="form-group mt-3">

    <div *ngIf="!isSignedIn">
      <h2>Iniciar sesión</h2>
      <label for="email">Correo electrónico</label>
      <input type="text" class="form-control" id="email" #email />
      <label for="pass">Contraseña</label>
      <input type="password" class="form-control" id="pass" #password />

      <button class="btn btn-outline-dark" (click)="onSignin(email.value,password.value)">Entrar</button>
    </div>
  </div>
  <hr>
  <div class="form-group mt-3" >
    <div *ngIf="!isSignedIn">
      <h2>Registrarse</h2>
      <label for="email">Correo electrónico</label>
      <input type="text" class="form-control" id="email" #emailSignup />
      <label for="pass">Contraseña</label>
      <input type="password" class="form-control" id="pass" #passwordSignup />

      <button class="btn btn-outline-dark"
        (click)="onSignup(emailSignup.value,passwordSignup.value)">Registrarse</button>
    </div>
  </div>

  <div *ngIf="isSignedIn">
    <p>Estas logeado <br>Pulsa en SALIR para deslogearte</p>
    <br>
    <button (click)="logout()"><a href="#">SALIR</a></button>
  </div>

  <div class="form-group">
  <button class="btn btn-lg btn-google" (click)="onGoogle()">Google</button>
 </div>
</div>