<div class=contariner style="text-align: center;">
  <div class="row justify-content-center h-100 ">
    <div class="form-group text-center ">

      <div *ngIf="!isSignedIn">
        <h2>Iniciar sesión</h2>
        <div class="col-3 justify-content-center">
          <label for="email">Email</label>

          <input type="text" class="form-control" id="email" #email />
        </div>
        <div class="col-3 justify-content-center mt-3">
          <label for="pass">Contraseña</label>
          <input type="password" class="form-control" id="pass" #password />
        </div>
        <div class="row justify-content-center mt-3">
          <button class="btn btn-outline-dark" (click)="onSignin(email.value,password.value)">Entrar con email
          </button>
          <button *ngIf="!isSignedIn" class="btn btn-lg btn-google" (click)="onGoogle()"> Entrar con Google</button>
        </div>
      </div>
    </div>

   
    <div class="form-group">
      <div *ngIf="!isSignedIn">
        <h2>Registrarse</h2>
        <div class="col-3 justify-content-center">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" #emailSignup />
        </div>
        <div class="col-3 justify-content-center mt-3">
        <label for="pass">Contraseña</label>
        <input type="password" class="form-control" id="pass" #passwordSignup />
        </div>


        <button class="btn btn-outline-dark"
          (click)="onSignup(emailSignup.value,passwordSignup.value)">Registrarse</button>
      </div>
    </div>

    <div *ngIf="isSignedIn">
      <p>Estas logeado <br>Pulsa en SALIR para deslogearte</p>
      <br>
      <button (click)="logout()"><a href="#">SALIR</a></button>
    </div>
  </div>
</div>